[user]
	name = Yelin Zhang
[core]
	editor = nvim
[alias]
	c = commit
	ca = commit -a
	caa = commit -a --amend
	cam = commit --amend
	caan = commit -a --amend --no-edit
	p = push
	pf = push --force-with-lease
	puu = push -u origin HEAD
	co = checkout
	cb = checkout -b
	cob = checkout -b
	com = checkout main
	pum = pull upstream main
	fum = fetch upstream main:main
[pull]
	rebase = true
[push]
        autoSetupRemote = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate

# git version 2.36 required
[includeIf "hasconfig:remote.*.url:git@github.com:**/**"]
    path = .gitconfig-github
[includeIf "hasconfig:remote.*.url:https://github.com/**/**"]
    path = .gitconfig-github
